<h1>All Movies</h1>

<ul id="movies">
  <% @movies.each do |movie| %>
    <li>
      <%= movie.title %>
      <% movie.showtimes.each do |showtime| %>
        <div>
          <%= showtime_formatter(showtime.time) %>,
          in <%= movie_auditorium(movie, showtime) %>;
          Seats Remaining: <%= movie_auditorium_capacity(movie, showtime) %>
        </div>
      <%= link_to "Buy a ticket", new_order_path(showtime: showtime) %>
      <% end %>
    </li>
  <% end %>
</ul>


<%= link_to "Add a new movie", new_movie_path %>