<div class="app-container">
  <main class="main-content" role="main">
    <header class="header">
      <h1 class="header__heading" id="page-title">
        <%= link_to "tix_flix", movies_path %>
      </h1>
    </header>
    <h2 class="subheading">
      Please enter your name, email, and credit card information to purchase a movie ticket!
    </h2>

  <% if flash[:error] %>
    <div class="error-message">
      <% flash[:error].each do |key, value| %>
        <div>errors for <%= key %>:</div>
        <% value.each do |error| %>
          <div><%= error %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>



    <div class="order-form">
      <%= form_for @order do |f| %>

        <label class="order-form-fields">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </label>
        <label class="order-form-fields">
          <%= f.label :email %><br />
          <%= f.text_field :email %>
        </label>
        <label class="order-form-fields">
          <%= f.label :credit_card_number %><br />
          <%= f.text_field :credit_card_number %>
        </label>
        <label class="order-form-fields">
          <%= f.label :expiration_date %>
          format:, MM/DD/YYYY<br />
          <%= f.text_field :expiration_date %>
        </label>

        <%= hidden_field_tag :showtime, params[:showtime] if params[:showtime] %>

        <button class="button">
          <%= f.submit %>
        </button>

      <% end %>
    </div>

  </main>
</div>