<h1>Please enter your name, email, and credit card information to purchase a movie ticket!</h1>

<%= form_for @order do |f| %>
  <ul>
    <% @order.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :credit_card_number %><br />
    <%= f.text_field :credit_card_number %>
  </p>
  <p>
    <%= f.label :expiration_date %><br />
    <%= f.text_field :expiration_date %>
  </p>
  <%= hidden_field_tag :showtime, params[:showtime] if params[:showtime] %>
  <p>
    <%= f.submit %>
  </p>
<% end %>